<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<body>


<div class="container animated fadeIn">
  <div class="row">
    <h1 class="header-title">Contacter Nous</h1>
    <hr>
    <div class="col-sm-12" id="parent">
      <div class="col-sm-6">
        <iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.5369608492947!2d10.73748731493876!3d34.79243038041097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301d3a4ea3d83f9%3A0xbef747312ce03a3c!2sTik.tn!5e0!3m2!1sen!2s!4v1502624240528" allowfullscreen></iframe>
      </div>

      <div class="col-sm-6">
        <form action="" class="contact-form" method="post" id="feedback">
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="nm" placeholder="Nom Complet" required autofocus />
          </div>
          <div class="form-group form_left">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="phone" name="phone" maxlength="10" placeholder="No. Téléphone" required="">
          </div>
          <div class="form-group">
            <textarea class="form-control textarea-contact" rows="5" id="comment" name="message" placeholder="Message/Feedback..." required=""></textarea>
            <br>
            <button class="btn btn-default btn-send" type="submit"><i class="glyphicon glyphicon-send"></i> Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container second-portion">
    <div class="row">
      <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            <div class="info">
              <p>
                <a class="link-unstyled" href="mailto:contact.tik.tn@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> contact.tik.tn@gmail.com</a>
                <br>
                <br>
                <a class="link-unstyled" href="https://tik.tn"><i class="fa fa-globe" aria-hidden="true"></i> tik.tn</a>
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
            <div class="info">
              <p>
                <a class="link-unstyled" href="tel:+21652684299"><i class="fa fa-mobile" aria-hidden="true"></i> (+216) 52 684 299</a>
                <br>
                <br>
                <a class="link-unstyled" href="tel:+21628204299"><i class="fa fa-mobile" aria-hidden="true"></i> (+216) 28 204 299</a>
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="info">
              <p>
                <a class="link-unstyled" href="https://www.google.com/maps/place/Tik.tn/@34.7924304,10.7374873,17z/data=!3m1!4b1!4m11!1m5!8m4!1e4!2s115155902038983611068!3m1!1e1!3m4!1s0x1301d3a4ea3d83f9:0xbef747312ce03a3c!8m2!3d34.7924304!4d10.739676?hl=en-AU"><i class="fa fa-map-marker" aria-hidden="true"></i> Route Taniour, Chihia<br /><br />Sfax, Tunisie</a>
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
    </div>
  </div>
</div>






</body>
</html>
